@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  position: relative;
  width: 100%;
  height: 100%;
  font-size: 16px;
}

body {
  color: #333;
  font-family: "Poppins", sans-serif;
}

h3 {
  margin: 1em 0;
  font-size: 2em;
  line-height: 1.25em;
  text-transform: capitalize;
}

h4 {
  margin: 1em 0;
  font-size: 1.5em;
  line-height: 1.5em;
}

h5 {
  margin: 1em 0 0.5em;
  font-size: 1em;
  line-height: 1em;
}

p {
  line-height: 1.5em;
  margin-bottom: 1em;
}

ul {
  margin: 1em 0 1.5em 2.5em;
}

a {
  color: rgb(0, 100, 200);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:visited {
  color: rgb(0, 80, 160);
}

hr {
  border-top: 1px solid #eee;
}

label {
  display: block;
}

input,
button,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  -webkit-padding: 0.4em 0;
  padding: 0.4em;
  margin: 0 0 0.5em 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 2px;
}

input:disabled {
  color: #ccc;
}

button {
  color: #333;
  background-color: #f4f4f4;
  outline: none;
}

button:disabled {
  color: #999;
}

button:not(:disabled):active {
  background-color: #ddd;
}

button:focus {
  border-color: #666;
}

@media (max-width: 640px) {
  footer div {
    gap: 1em !important;
  }
}
